@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

.ease-in {
  animation: fadeIn 0.5s ease-in forwards;
}

@keyframes fadeOut {
  from {
      opacity: 1;
  }
  to {
      opacity: 0;
  }
}

.ease-out{
  animation: fadeOut 0.5s ease-out forwards;
}

@tailwind base;
@tailwind components;
@tailwind utilities;